---
import Lineaverde from '../components/Lineaverde.astro';
import Mainmenu from '../components/Mainmenu.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." >
	<main class="hideovercontent" >
		<Lineaverde />
		<div id="contenidofadeinout">
			<video id="video1" width="320" height="240" controls>
				<source src="./videos/video.mp4" type="video/mp4">
			</video>	
		</div>
	</main>
	<div class="calltoaction">
		ARRASTRA Y EXPLORA + --
	</div>
	<Mainmenu />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.hideovercontent {
		overflow: scroll;
	}

	.calltoaction {
		position: fixed;
		/* bottom: 20px; */
		/* left: 30%; */
		bottom: 80px;
		left: -55px;
		color: #ffffff;
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
		opacity: 0.6;
		rotate: -90deg;
	}

	#contenidofadeinout {
		width: 500%;
		grid-column: 1 / span 1 ;
    	grid-row:  1 / span 1;
		position: relative;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

		#video1 {
			opacity: 0.75;
			position: absolute;
			left: 50px;
			top: 300px
		}
</style>

<script is:inline>
	// function userScrolling() {
	// 	console.log( document.documentElement.scrollTop || document.body.scrollTop )
	// }
	//  document.documentElement.scrollTop || document.body.scrollTop

	document.addEventListener("scroll", (event) => {
		console.log( document.documentElement.scrollTop || document.body.scrollTop )
	})
</script>
