---
import Mainmenu from '../components/Mainmenu.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		SEGURIDAD
		<!-- <iframe src="https://antimonumentocdmx.8thwall.app/senaldealarma/" title="description"></iframe> -->
		<a id="AR" data-8code="tkfyj">click</a>
		<script is:inline src="//cdn.8thwall.com/web/share/embed8.js"></script>
	</main>
	<Mainmenu />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	#AR {
		margin-top: 200px;
	}
</style>
